body {
    margin: 0;
    overflow: hidden; /* Забороняємо прокрутку, так як гра повинна відбуватися в межах вікна */
}

#game-container {
    position: relative;
    width: 100vw; /* Ширина вікна браузера */
    height: 100vh; /* Висота вікна браузера */
    overflow: hidden; /* Забороняємо прокрутку */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    image-rendering: pixelated; /* Забезпечуємо збереження піксельного стилю гри */
}

#leaderboard {
    font: 200% "Consolas", monospace;
    margin-left: 1em;
}
